<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>
<p>
  <strong>Contents:</strong>
  <%= @board.contents %>
</p>

<%= link_to 'Edit', edit_board_path(@board), class: "btn btn-primary" %> |
<%= link_to 'Back', boards_path, class: "btn btn-primary" %>
